# Python & Django
**/__pycache__/
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info/
**/dist/
**/build/
**/.eggs/
**/*.log
**/*.pot
**/db.sqlite3
**/media/
**/staticfiles/

# Virtual environments
**/env/
**/venv/
**/ENV/

# Environment files
**/.env
.env

# IDEs
**/.vscode/
.DS_Store

# Node/React/Expo
**/node_modules/
**/dist/
**/build/

# Render
**/render.yaml
